*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#increase{
    margin: 10px 20px;
    padding: 30px;
    border: 2px solid red;;
    border-radius: 10px;
}
#decrease{
    margin: 10px 20px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;

}