*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;

}

.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin:10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #ffbead;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width:30px;
    margin-left:10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 24px;
}
input {
    flex:1;
    border: none;
    padding: 10px;
    background: transparent;
    padding: 10px;
    font-weight: 400;

}
button {
    border: none;
    outline: none;
    padding:20px 40px;
    background: #ff5945;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 15px;
    padding:12px 8px 10px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
       text-decoration: line-through;
       color: #555;
    }
ul li.checked::before {
    background-image: url('images/checked.png');
}
ul li span {
    position: absolute;
    height: 40px;
    font-size: 22px;
    top:5px;
    right:0px;
    line-height: 40px;
    color:#555;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
     
    border-radius: 10px;
}
